/*Breakpoints:*/
$bp-medium: "(min-width: 640px)";
$bp-large: "(min-width: 972px)"; 
$bp-x-large: "(min-width: 1060px)"; 
$bp-xx-large: "(min-width: 1200px)";

$primary-color: #0584B4;
$secondary-color: #fd5754;

$font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;