.box {
  background-color: $secondary-color;
  border-radius: 3px;
  color: $white;
  display: none;
  margin: 1em auto;
  padding: 1em;
  text-align: center;  
  width: 80%;
  
  @media #{$bp-medium} {
    width: 30%;
  }
}
