.box {
  background-color: $secondary-color;
  border-radius: 3px;
  color: $white;
  margin: .5em;
  padding: .5em;
}

.result__box {
  display: none;
  margin: 1em auto;
  width: 80%;
  
  @media #{$bp-medium} {
    width: 30%;
  }
}
