body,
html {
  height: 100%;
}

body {
  background-color: $light-grey;
  font-family: $font-family;
}

.page {
  margin: 0 auto 5em;
  max-width: 1200px;
}

.result {
  margin-bottom: 1em;
}

.main-header {
  @extend %has-shadow;
  
  background-color: $primary-color;
  color: $white;
  padding: 1em;
  width: 100%;

  @media #{$bp-xx-large} {
    border-radius: 0 0 5px 5px;
  }
}
