.list-image {
  overflow: auto;
  padding: 0 .5em;
  position: relative;
}

.list-image__item {
  list-style: none;
  margin: 0;
  padding: .5em 0;
  width: 100%;

  @media #{$bp-medium} {
    float: left;
    height: 250px;
    overflow: hidden;
    padding: 1em .5em 0;
    width: 50%;
  }

  @media #{$bp-large} {
    width: 33.33%;
  }

  @media #{$bp-xx-large} {
    height: 200px;
    width: 25%;
  }

  img {
    width: 100%;
  }
}
