.tag-search {
  background-color: $primary-color;
  bottom: 0;
  color: $white;
  padding: 1em;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%;
  
  @media #{$bp-medium} {
    border: 3px solid $white;
    border-radius: 7px 0 0 7px;
    bottom: 10px;
    right: -3px;
    width: auto;
  }

  .tag-search__strict {
    vertical-align: initial;
  }
}

.tag-search__tags {
  display: block;
  margin: .3em auto;
  width: 90%;
}
